{% extends 'infobase.html' %}
{% block text %}
<div class="account">
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="input-group">
            <span class="input-group-addon">旧的密码:</span>
            <input name="upwd" type="password" class="form-control" placeholder="请输入旧的密码"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">新的密码:</span>
            <input name="newpwd" type="password" class="form-control" placeholder="请输入新的密码"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">确定密码:</span>
            <input name="newpwd2" type="password" class="form-control" placeholder="请输入确定密码"
                   aria-describedby="basic-addon1">
        </div>
        <button type="submit" style="width: 286.4px;height: auto;" class="btn btn-success">保存</button>
    </form>
</div>
{% endblock %}