{% extends 'base.html' %}
{% block text %}
	<div class="musicmv">
		<h2>舞蹈视频</h2><br>
		<p><a target="_blank"
			  href="http://v.youku.com/v_show/id_XMzk2NDMyNDYyOA==.html?spm=a2h0k.8191393.bodydiv.5!2~5!4~A&from=s7.8-1.2">
			 不染-2018社团文化展</a></p>
		<p><a target="_blank"
			  href="http://v.youku.com/v_show/id_XMzkzNDc5OTU4NA==.html?spm=a2h0k.11417342.soresults.dtitle">
			 下一秒-2018校自律晚会</a></p>
		<p><a target="_blank"
			  href="http://v.youku.com/v_show/id_XMTg3MDQzNTA4NA==.html?from=s1.8-1-1.2&spm=a2h0k.8191407.0.0">
			赤道和北极-2016社团文化展</a></p>
		<p class="mvbtn"><a href="javascript:;">查看更多（需登录）</a></p>
		<div class="usermv">
			{% for msg in mv %}
				<p><a target="_blank"
				  href='{{msg.mvurl}}'>
				{{msg.mvname}}</a></p>
			{% endfor %}
		</div>
	</div>
{% endblock %}