{% extends 'base.html' %}
{% block text %}
	<div class="ms">
		<h1>华尔兹慢三</h1>
		<p>慢三是简化版的华尔兹。作为最基本的舞种之一，慢三是其它舞种的基础。这是因为在其他舞种所要用到的技巧，在慢三中都有应用。慢三是属于三步。
			三步，顾名思义，就是每一小节有三拍。它的重音在第一拍，后两拍是弱音，节奏是“ 强、弱、弱”。</p>
		<h2>背景介绍</h2>
		<p>华尔兹舞（Waltz） 用w表示。也称"慢三步"。摩登舞项目之一。舞曲旋律优美抒情，节奏为3/4的中慢板，每分钟28～30小节。
			每小节三拍为一组舞步，每拍一步，第一拍为重拍，三步一起伏循环。通过膝、踝、足底、跟掌趾的动作，结合身体的升降、倾斜、摆荡，
			带动舞步移动，使舞步起伏连绵，舞姿华丽典雅。是维也纳华尔兹（快三步）的变化舞种。第一支华尔兹舞曲是在1770年出现的，1775年传入巴黎，
			但过了一段时间才变得很流行，1813年Byron先生谴责华尔兹舞是不贞洁的，1816年华尔兹才被英格兰人所接受，但对华尔兹的争论远没有停止。
			1833年，Celbart小姐出版了一本名为“Good Behavior”的书，据书上她称华尔兹是“一种少女跳的过于放纵的舞蹈”
			（尽管当时已允许已婚女士跳华尔兹）。19世纪中叶，维也纳华尔兹传到美国，当时美国崇尚舒缓、优美的舞蹈和音乐，
			于是将快节奏的维也纳华尔兹逐渐改变成悠扬而缓慢、有抒发性旋律的慢华尔兹舞曲，舞蹈也改变成连贯滑动的慢速步型，即今之华尔兹舞。</p>
		<h2>基本步法</h2>
		<p>华尔兹舞以舞中“皇后”而著称。它多以旋转为主配合其他舞步花样，舞姿起伏回旋和舒展，高雅流畅。以3/4拍为乐曲，节奏为强 → 次强 → 弱。
			每步占一拍，一个小循环跳三步。第一步落在强的一拍上，舞步步幅为大，中，小。迈第一步，左脚后跟柔和地先着地，步幅大重心低；
			第二步、第三步，中心逐渐升高，前脚掌着地。
		1． 正直进，直退（男左女右交替运步）
		预备姿势：闭式舞姿。
		直退步与直进步舞步基本相同，方向相反
		2．纵向折角进，退步（交叉步或“之”字步）
		预备姿势：正步，闭式舞姿。
		3． 方步合子步包括进、退两种
		4．左转体90°跳法
		预备姿势：正步，闭式舞姿。
		男手势：男伴在第2拍转体90°同时，右手与左手配合暗示，女伴左转体，并控制其转体的角度。
		5．右转体90°的跳法
		预备姿势：正步，闭式舞姿。
		男手势：男伴第2拍转体90°的同时，男伴的右手与左手配合暗示女伴右转体并控制其转体角度。
		6． 左转体180°跳法
		预备姿势：正步、闭式舞姿。
		男手势：男伴第2拍转体180°的同时，男伴的右手与左手配合暗示女伴左转，并控制其转体角度。
		7．右转体180°跳法
		预备姿势：正步、闭式舞姿。
		男手势：男伴在第2拍转体180°的同时，男伴右手与左手配合暗示女伴右转，并控制好转体角度。
		8．左连续转体180°跳法
		预备姿势：正步、闭式舞姿。
		男手势：男伴在第2拍左转180°的同时，男伴的左手与右手相配合暗示女伴左转，并控制好转体角度。
		男伴在第4拍时，左手配合右手暗示女伴左转体，并控制好转体的角度。
		9．右连续转体180°跳法
		预备姿势：正步、闭式舞姿。
		男手势：男伴第2拍右转180°的同时，男伴的右手与左手配合暗示女伴右转，并控制其转体角度。男
		伴在第4拍时，左手配合右手按时女伴右转体，并控制好转体的角度。</p>
					<h2>特点</h2>
					<p>1．直进直退：步法为男进左、右、左三步，女退右，左，右三步，然后继续男进右，左，右三步，女退左，右，左三步，以此类推。
		2．之字形交叉：是男女双方按“之”字图形做连续的进或退。做法是：男向左侧方进右，左，右三步（一大步，两小步），在第二，
						三小步前脚掌着地同时经过转动，身体移向右斜方，此时男正面朝右斜方。女随男左后斜方退左，右，左三步（一步大，两步小），
						在第二，三小步前脚掌着地同时经过转动，身体随男一起移向右斜方。然后男向右斜方进左，右，左三步，在第二，三小步时，
						身体斜向左斜方，女随男向右后斜方退右，左，右三步，在第二，三小步时，身体随男一起移向左斜方。
						“之字形交叉”的退法与进法相反，步法是男先退左，右，左三步，女进右，左，右三步，二，三步时，双方均转动改变方向。
		3．三步旋转步：一般由两组舞步组成。一组舞步转180度，两组完成360度。。向左转时，男进左脚，插在女伴双脚之间，同时女退右脚，
						男跟进右脚同时向左旋转180度，第二，三步两脚原地踩并步。三步舞也可男退女进。向右旋转与向左旋转的步法相同，唯方向相反。
						为了旋转圆滑，当旋转时的最后两小步，应以前脚掌为轴，做并一步，同时双方上身由各向后仰以相互牵引，保持平衡，
						以带动对方转到的位置上。慢三最简单的舞步是直步。第一拍即重拍步子要大一些, 二三拍为弱拍, 步子作为调整。
						男士出脚应直着往前伸。 慢三中的内侧旋转, 男女舞步都是一样的. 首先女舞伴侧退右脚,男舞伴出左脚在女舞伴两脚之间,
						这时, 男舞伴以左脚为轴, 女舞伴以右脚为轴, 旋转180度后, 男舞伴后退右脚, 女舞伴前进左脚, 这是第二拍了。最后一拍,
						男舞伴后退左脚, 并在右脚左侧, 女舞伴前进右脚, 并在左脚右侧, 两人的舞姿成闭位。注意, 旋转了180度后,
						为了保持舞程线的方向, 男舞伴在以后的跳法中应后退, 若想还原, 再旋转180度即可。这时男舞伴应后退右脚,
						女舞伴前进左脚.... 同前面一样。基本步其实很简单。
		难点解析编辑
		慢三舞步的基本舞步结构，是由前进（或后退）、横移、并脚三步构成一个基本旋回。这样，第一个旋回和第二个旋回，就要出现必然的换脚变化。
						这是初学者必须解决的第一个障碍。在练习中，要逐步养成这样一种概念：重心是在两脚之间依次交换的，即使是并脚的舞步，
						重心落在双脚上的时间也是极短暂的，它只不过是一种特殊的交换重心的形式而已，
						这种特殊形式是为了造成“不露痕迹的交换重心的形态”。但主观上的换脚意图却是丝毫也没有变化的。
						只要保持这种意图的连续性发展，就可以很容易的越过这个障碍。 第二个问题是脚跟、脚掌、脚尖的运动程序及其方法的问题。
						前面已经介绍了基本运步方法，遇到的是在升降中如何处理它们之间的关系的问题。无论前进还是后退，在第一步重心转移完成后，
						都应把重心点移向前脚掌。尽管此时膝部还未伸直，但脚跟却应微微离地。向第二步发展的动力，
						就是由脚距离地而产生的脚掌推力引发的。第二步的横移，是运步的特殊形式，它既不是先落脚跟，也不是先落脚尖，
						而是近似于全脚的前掌落地，并伴随着反向的倾斜（即左横移时右倾斜，右横移时左倾斜）。此外还应注意，
						并脚动作井非从第三拍才开始，而是在第二拍的后半拍就伴随着身体的上挺和倾斜。开始向并脚发展（靠拢）。
						此时的重心完全处在横移脚的前半脚掌上。第三拍的并脚是在完全没有重心的状态下到位的，而且直到第三拍的前半拍，
						重心都还在横移脚的前掌上上升，直至极限状态，并拢的脚掌才开始不露痕迹地支撑重心。这种双脚重心状态只不过是一刹那的表现。
						从第三拍的后半拍开始，脚跟开始下降，而下降的重心，则主要由并拢那只脚的脚掌支撑。换言之，
						横移脚的脚掌完成着推动脚跟上升的重心支撑任务，而脚掌下降的重心则落在并拢脚的脚掌上。上升和下降的转折点，
						就是重心不露痕迹地交换时间。这些要求对于一个初学者来说是太困难了。但假如你想跳出优美的舞步，这第二个障碍也是必须越过的。
						第三个障碍是侧身与倾斜。倾斜乃是通过侧身动作的延伸，也就是肩部引导来实现的。再进一步深入地说，这一系列的上身动作，
						都产生于腰部的力量，而不是某一个局部的单独运动。这虽然是最高层次的要求，但却必须从一开始就引起注意。
						否则一旦形成局部性用力的毛病改起来就不容易了。上述三个障碍，大家可以根据自己的具体情况灵活掌握。基础较差的初学者，
						可以在练习基本步的时候，一个一个的解决；有一定基础的交谊舞爱好者，则可以用这些规范来提高自己的技术能力；
						假如你是一个急于求成的自娱性交谊舞跳怯的爱好者，懒得在这方面花费时间和精力，也可在越过第一个障碍后，
						完全可以将后两个问题置之不理，而不会影响你往下学习。不过当你的舞技进展到相当的程度后，肯定会对这些东西感兴趣的，
						那时候再来从头练习也无妨碍。</p>
					<h2>技巧</h2>
					<p>在舞会中, 慢三和慢四是大家跳得最多的了. 而慢三又是最基本的舞种之一, 是其它舞种的基础. 这是因为在其他舞种所要用到的技巧,
						在慢三中都有应用. 慢三是属于三步, 三步, 顾名思意, 就是每一小节有三拍. 它的重音在第一拍, 后两拍是弱音,
						节奏是" 强, 弱, 弱". 我们说过, 在男士请了女伴之后, 摆好舞姿, 男舞伴前进左脚, 女舞伴后退右脚, 那么在慢三中,
						对于男士, 第一小节的重音在左 脚, 第二小节的重音就换到了右脚, 以后都是重音在左右脚轮换. 对于女舞伴亦是一样,
						第一小节的重音在右脚, 第二小节的重音就换到了左脚, 接着轮换. 这是与慢四非常明显的不同.
		慢三最简单的舞步是直步, 初学者往往以为是跳舞, 就不知道脚该往哪儿放了, 其实和走路差不多, 只不过是加上了对音乐的理解. 对于慢三,
						我们说第一拍即重拍步子要大一些, 二三拍为弱拍, 步子作为调整. 男士出脚应直着往前伸, 有的初学者怕踩着女伴的脚,
						脚步往旁边走, 即不符和慢三的跳法, 又显得不好看. 其实只要男女双方和着音乐的节奏, 同时前进或后退, 是不会踩着对方的脚的.
						慢三中的内侧旋转也 是基本步之一, 男女舞男舞伴先出的是左脚, 女舞伴先退右脚. 首先女舞伴侧退右脚,
						男舞伴出左脚在女舞伴两脚之间, 这时, 男舞伴以左脚为轴, 女舞伴以右脚为轴, 旋转180度后, 男舞伴后退右脚, 女舞伴前进左脚,
						这是第二拍了. 最后一拍,男舞伴后退左脚, 并在右脚左侧, 女舞伴前进右脚, 并在左脚右侧, 两人的 舞姿成闭位.
						注意, 旋转了180度后, 为了保持舞程线的方向, 男舞伴在以后的跳法中应后退, 若想还原, 再旋转180度即可.
						这时男舞伴应后退右脚,女舞伴前进左脚....同前面一样，基本步其实很简单, 所有的花样都是从基本步中演变而来,
						掌握好了基本步才能更好地掌握更多的花样.当然这些都是纸上谈兵, 大家还要多与"舞"林高手们切磋, 交流经验。</p>
					<h2>姿势</h2>
					<p>头:朝着舞程线方向或目视舞伴正直，坚挺
		肩:横平竖直,与头颈一致,男伴以肩示意来带动女伴可保两人姿态稳定,男伴较省力,
		胸:两人相距一拳,太远则旋转时易分离,姿态走样,太近则
		背:含胸拔背太累,反正不能是驼背，要么190%=%150
		手:松紧适度，手掌不能按实，着力多以指根始，指、掌缘辅，在必要时方可作示意
		肘:自然下垂，不夹不张，熟练后做点夸张动作也是可以的
		腰:在做大动作时挺考腰的力量，bf的有力，gf的柔韧
		腹:比赛时的教练总说两人腹部似贴非贴，接连转圈时可不偏中轴，稳定，转速高
		胯:不能左右摇摆,上下跳动.特殊舞步例外，随节奏平稳地将重力在两脚间移动
		膝:步幅大时为保证移动平稳，有时要曲膝调整，但不能腾跳，
		跗:掌握舞步起伏的关键，与膝配合，完成身姿低、高、再高（立脚掌）的变换
		趾:抓地要紧,触觉要灵敏，应当立脚掌时还能掌握方向 。</p>
	</div><br>
	<div class="ps">
		<h1>华尔兹平四</h1>
		<p>平四舞，取决于舞蹈的步伐节拍，目前的国际交谊舞中的“布鲁斯”俗称为“慢四步”舞，
			华尔兹分为维也纳华尔兹即快三步华尔兹和波士顿华尔兹即慢三步华尔兹，而平四舞名字可以理解为“速度均匀的四步交谊舞”。</p>
		<h2>介绍</h2>
		<p>平四舞的音乐为2/4拍，每分钟44小节左右，节奏为蓬、嚓、蓬、嚓，一拍一步，无快慢之分，但在花样造型时，可在一小节内把四步跳三步，
			前三拍每拍一步，第四后停步造型。这样，第3步占用了二拍，充分展示了舞蹈造型的优美，"反弹琵琶"、"摘葡萄"等花样就是这种舞步。</p>
		<h2>基本舞步</h2>
		<p>	■"四"自然是四步的意思，而"平"却有它的多释性：<br/>
							●平常年；<br/>
							●"平"乃平常人的平常心，<br/>
							●平凡的人开始寻爱觅不平凡的人生……<br/>
							●"平"祝愿所有喜欢跳舞的人平平安安，很吉祥！<br/>
		●"平"，平静的大地从此不再平静，平淡的生活从此有了几分色彩。</p>
		<h2>审美特征</h2>
		<p>平四舞除了具有一般交谊舞都具有的品格、特点和魅力外，它还具有中国独特创造审美特征，它独创的审美特征具体体现在"步、花巧妙的结合"；
			"手势、身段造型的结合"；"动中有静，静中有动的结合"。它的舞步规范，潇洒自如，灵活稳健，舞步快而不乱，快而不赶，稳而不拖，
			舞姿造型优美文雅，新颖别致，它的优美大大超过它简单的名称。</p>
	</div><br>
	<div class="gbw">
		<h1>鬼步舞(曳步舞)</h1>
		<p>曳步舞又称墨尔本Melbourne Shuffle（Dance），起源于澳大利亚墨尔本。属于一种力量型舞蹈。这是一种拖着脚走的舞步，动作快速有力，
			音乐强悍有震撼力（主要是电子舞曲，多为Trance， hardstyle，house， hardcore ），舞蹈充满动感活力，极具现场渲染力。
		曳步舞有很多种风格，各风格的性质不一样，有些人只知道曳步舞是飘起走的其实不是。舞者要有坚持的毅力和耐力，才能体会这种舞蹈的精髓。
		曳步舞的主要风格有：硬派，MAS,AUS,BASS,MARK,自由风等（因国籍与地域不同，很多相同风格的叫法略有不同）。</p>
		<h2>发源历史</h2>
		<p>曳步舞。由于发源地是澳大利亚墨尔本，于是也被叫做：墨尔本曳步舞（MelbourneShuffle）。是20世纪80年代起源于锐舞派对的一种舞步，
			发源于澳大利亚墨尔本地下派对，基本动作是一个快速切换，流畅完成的两步动作，舞蹈风格适合各种类型的电子音乐，
			例如：House , Trance ,Techno ,Hard Dance , Hardstyle。</p>
		<h2>舞蹈发展</h2>
		<h3>发展经历</h3>
		<p>1992年，在海外其他地区舞蹈名字混乱，这年澳大利亚人开始将此舞蹈称呼为Shuffle，由此名字被确定下来。
			20世纪80年代兴起于澳大利亚墨尔本一些地下舞场，其个性的舞步加上强劲的音乐以及个性的服装，极其吸引人眼光。<br/>
		2002年12月，澳大利亚一家报纸在头版讲解了，这是Shuffle首次出现在主流媒体，
			之后就流行到马来西亚和文莱（在这两个国家有Shuffle比赛）后传播到英国、德国等国家。借助因特网(Internet)、
			媒体UrbanDance.Cn编舞网等在世界范围内流行开来。<br/>
		2005年，出版有DVD专题纪录片介绍墨尔本曳步舞。<br/>
		2008年9月6号，澳大利亚媒体network10报道Shuffle这种硬派风格舞蹈（HSD：Hard Style Dance）。<br/>
		2008年11月，“So You Think You Can Shuffle”舞蹈秀在youtube上展开。<br/>
		2009年“So You Think You Can Shuffle”舞蹈秀粉丝聚会、比赛围绕在澳大利亚和德国等国展开。</p>
		<h2>舞蹈名称</h2>
		<p>MelbourneShuffle这个带前缀地区名词的名称，早期是为了区分Shuffle这个词的多元性，才用Melbourne标前缀词，区分出舞蹈。
			但是已经没有多少国家地区的舞者在用了。shuffling大多为欧美地区的舞者在用，但是被其他发展好的国家地区不太认同。比如俄罗斯，澳大利亚，
			马来西亚，就连新兴的韩国和日本有比赛的国家都大多用Shuffle。</p>
		<h2>舞蹈特点</h2>
		<p>动作简洁，快速有力，节奏感强，主要表现通过双脚动作快速切换，通过滑行，踢腿，踩踏，转身等动作完成的一种即兴表演，自由度很高，
			个性十足的舞步。</p>
		<h2>舞蹈学习</h2>
		<p>shuffle的舞步，是通过核心两个动作的快速切换完成一种即兴表演，因此从刚开始学习shuffle的时候，需要练习两个基础舞步，
			Running Man(奔跑)，T-Step(侧滑)。[2]
		学习一段时间后，我们会发现，要熟练掌握这两个基础舞步，并不简单，这个时候我们需要大量的练习，才能使动作流畅和有力，
			最开始练习的一两个月内建议慢速练习，以熟练和记忆动作为主，太过于心急会起到反效果。
		练习shuffle时经常遇到的问题解析：</p>
		<h2>舞蹈风格</h2>
		<p>任何shuffle的风格跳法，演变区别都可以归类为，基础动作中，抬腿高度和滑行距离的区别。基础熟练者，可以自由改变Running Man方式，
			并且加入独特的元素和动作，来塑造自己的风格。只要努力，每个人都可以跳出自己的style。模仿也是一个好办法，通过模仿，
			熟练别人shuffle的特点，再之后将其改变并加入自己的特点，也能跳出不一样的shuffle。
		因为风格分类一直存有很大的争议，所以下面只简单的列举风格大类，不包括个人特色风格。
		1：【Aus】以Hardstyle为主要使用音乐，动作快速飘逸，激情富有活力。比较经典的形象是穿着荧光裤的跳法，AUS里面还有一些不同的细分，
			主要特色因人而异，因此不做下一步细分。AUS和MAS是国际公认的两种shuffle风格大类。:
		2：【Mas】mas就是马来西亚Malaysia Shuffle ，巴西完全是学习马来人的，动作狂野豪迈，注重全身性的协调拉伸。和AUS的跳法有很大的区别，
			当shuffle进入中国一段时间后，国内人喜欢把AUS叫做小步，MAS叫做大步，那是非常粗浅的叫法，
			但不得不承认在当时很多人并不了解shuffle的情况并使用这种称呼。
		3：【Cali】由MAS转变的一种新跳法，动作和MAS相比，更加干净利落，顿挫感更强，比较流行的跳法。
		4：【Rocker】最早的rocker,也叫做old school，属于AUS里面一种特立的跳法，动作细致，有一种收敛的舞感
		5：【Electro】在AUS的基础中融合了C-walk和HipHop里的步伐，看起来轻松写意，非常休闲，欣赏度更高。
		6：【硬派（Hardstyle）】介乎于AUS和MAS之间，国内叫法，来源于一些俄罗斯舞者的风格并加以改造所形成的一种国内独有的跳法，动作简单粗暴，
			适合快节奏音乐，缺点是也只能跳快的。
		7：【RUS】RUS风格来源于俄罗斯，由T1M、TK、等人独立创新的一种舞蹈风格，动作霸气奔放，很有艺术感。
		8：【T1M】T1M是俄罗斯的一名曳步舞者，在2011年自己独立开创的一种全新舞蹈风格，并以他命名，称T1M风格
		T1M风格动作奔放，要求腿部力量要大，上身协调性高，但是动作华丽奔放，在中国受到许多曳步舞者的好评哦！</p>
		<h2>曳舞舞蹈</h2>
		<p>视频最开始我们能在网上看到的shuffle视频，都是由一些前辈，从国外网站上下载，并上传在国内视频网站，
			我们需要感谢一下他们早期为shuffle做出的分享行为。
		随着国内shuffler的数量不断扩大，越来越多的舞者们，自拍下自己的shuffle并上传在优酷，土豆等主流的视频网站上分享，
			视频拍摄和后期制作也有越来越多的人学习，我们都能在网上查找到很多制作精良的国内shuffle视频并学习分享他们。
			包括各种自由的shuffle style，MV，教学视频，表演视频等等。</p>
		<h2>鬼步舞蹈联盟</h2>
		<p>网络联盟是由国外兴起的一种网络组织，由很多优秀的舞者组成一个在网络线上活跃的shuffle团队，并且吸收更多的优秀舞者加入他们。
			加入方法：根据他们制定的规则和日期，上传自己的shuffle视频并通过考核，就可以加入他们。
			网络联盟的作用更多的在于和其他地方的舞者交流，并提高自己的技巧和开阔想法。</p>
	</div>
	<p class="jrxh"><a class="btn btn-primary btn-lg" href="#" role="button">加入协会</a></p>
{% endblock %}