{% extends 'base.html' %}
{% block text %}
	<div class="music">
		<h2>舞蹈音乐</h2><br>
		<p><a href="https://music.163.com/#/song?id=536099160&market=baiduqk">不染</a></p>
		<p><a href="https://music.163.com/#/song?id=108576">发现爱</a></p>
		<p><a href="https://music.163.com/#/song?id=28838747">雨中的华尔兹</a></p>
		<p><a href="https://music.163.com/#/song?id=4872532">爱的华尔兹</a></p>
		<p><a href="https://music.163.com/#/song?id=4876404">忘了爱</a></p>
		<p><a href="https://music.163.com/#/song?id=21674656">just one last dance</a></p>
	</div>
{% endblock %}