{% extends 'superbase.html' %}
{% block page %}
<div class="mv container">
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="input-group">
            <span class="input-group-addon">视频编号:</span>
            <input name="mvid" type="text" class="form-control" placeholder="66(不可输入已有编号)"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">视频名称:</span>
            <input name="mvname" type="text" class="form-control" placeholder="爱的华尔兹"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">视频链接:</span>
            <input name="mvurl" type="text" class="form-control" placeholder="http://......"
                   aria-describedby="basic-addon1">
        </div>
        <button type="submit" style="width: 100%;height: auto;" class="btn btn-success mvtj">添加</button>
    </form>
    <div class="mvdt">
        <form action="/superdelete" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {% for msg in mv %}
                <p><a target="_blank"
                  href='{{msg.mvurl}}'>
                {{msg.id}},{{msg.mvname}}</a></p>
            {% endfor %}
            <div class="input-group">
                <span class="input-group-addon">视频编号:</span>
                <input name="mvid" type="text" class="form-control" placeholder="66"
                       aria-describedby="basic-addon1">
            </div>
            <button type="submit" style="width: 100%;height: auto;" class="btn btn-success">删除</button>
        </form>
    </div>
    <form style="margin-top: 20px" action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="input-group">
            <span class="input-group-addon">音乐编号:</span>
            <input name="musicid" type="text" class="form-control" placeholder="66(不可输入已有编号)"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">音乐名称:</span>
            <input name="musicname" type="text" class="form-control" placeholder="爱的华尔兹"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">音乐链接:</span>
            <input name="musicurl" type="text" class="form-control" placeholder="http://......"
                   aria-describedby="basic-addon1">
        </div>
        <button type="submit" style="width: 100%;height: auto;" class="btn btn-success musictj">添加</button>
    </form>
    <div class="mvdt">
        <form action="/musicdelete" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {% for msg in music %}
                <p><a target="_blank"
                  href='{{msg.musicurl}}'>
                {{msg.id}},{{msg.musicname}}</a></p>
            {% endfor %}
            <div class="input-group">
                <span class="input-group-addon">音乐编号:</span>
                <input name="musicid" type="text" class="form-control" placeholder="66"
                       aria-describedby="basic-addon1">
            </div>
            <button type="submit" style="width: 100%;height: auto;" class="btn btn-success">删除</button>
        </form>
    </div>
</div>
{% endblock %}