{% extends 'info.html' %}
{% block page %}
    <div>
        {{ data['id'] }}<br>
        {{ data['stuid'] }}<br>
        {{ data['name'] }}<br>
        {{ data['phone'] }}<br>
        {{ data['college'] }}<br>
        {{ data['userclass'] }}<br>
        {{ data['role'] }}<br>
    </div>
<div class="container">
	<span class="label label-default">用户ID</span><br>
	<span class="label label-default">用户学号</span><br>
	<span class="label label-default">用户姓名</span><br>
	<span class="label label-default">手机号码</span><br>
	<span class="label label-default">用户学院</span><br>
	<span class="label label-default">用户班级</span><br>
	<span class="label label-default">用户权限</span><br>
</div>
{% endblock %}